// Component level theming

.th-c-inverted {
  @apply bg-th-bg-inverted text-th-body-inverted;

  // button colors
  --btn-prim-front: var(--on-body-inverted);
  --btn-prim-bg: var(--bg-inverted);
  --btn-prim-bg-hover: var(--btn-prim-bg-hover-inverted);
}
