@font-face {
  font-family: strawford;
  src: url("/fonts/strawford/web/strawford-regular-webfont.woff2") format("woff2"), url("/fonts/strawford/web/strawford-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: strawford;
  src: url("/fonts/strawford/web/strawford-medium-webfont.woff2") format("woff2"), url("/fonts/strawford/web/strawford-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: strawford;
  src: url("/fonts/strawford/web/strawford-bold-webfont.woff2") format("woff2"), url("/fonts/strawford/web/strawford-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: strawford;
  src: url("/fonts/strawford/web/strawford-regularitalic-webfont.woff2") format("woff2"), url("/fonts/strawford/web/strawford-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: strawford;
  src: url("/fonts/strawford/web/strawford-mediumitalic-webfont.woff2") format("woff2"), url("/fonts/strawford/web/strawford-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: strawford;
  src: url("/fonts/strawford/web/strawford-bolditalic-webfont.woff2") format("woff2"), url("/fonts/strawford/web/strawford-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
