@layer base {
  .gradient-border {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      border: 1px solid transparent;
      background: linear-gradient(to right, #ff008a, #2400ff) border-box; /*3*/
      -webkit-mask: linear-gradient(var(--body) 0 0) padding-box,
        linear-gradient(var(--body) 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      opacity: 0;
      transition: all 0.2s linear;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}
