// BASE PROPS
.transition-base-hidden {
  opacity: 0;
  transition-timing-function: ease-out;
  pointer-events: none;
  visibility: hidden;
}
.transition-base-visible {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

// extra prop: duration
.duration-normal {
  transition-duration: 0.25s;
}
.duration-slow {
  transition-duration: 0.5s;
}

// PULL UP
.pullup-hidden {
  transition-property: opacity, transform;
  transform: translateY(1rem) scale(0.999);
}

.pullup-visible {
  transform: none;
}

// FADE
.fade-hidden {
  transition-property: opacity;
}

.fade-visible {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

// ZOOM IN
.zoomin-hidden {
  transition: transform 300ms, opacity 0.75s 0.2s;
  transition-timing-function: ease-out;
  transform: scale(0.95);
}
.zoomin-visible {
  transform: scale(1);
}

// ZOOM OUT
.zoomout-hidden {
  transition: transform 300ms, opacity 0.75s 0.2s;
  transition-timing-function: ease-out;
  transform: scale(1.15);
}

.zoomout-visible {
  transform: scale(1);
}

//
// ANIMATIONS
//
@keyframes pulldown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes pullup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.anim-pulldown {
  animation-name: pulldown;
  animation-duration: 400ms;
}

.anim-pullup {
  animation-name: pullup;
  animation-duration: 400ms;
}
