.richtext {
  * {
    @apply mt-2 mb-4;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-24 mt-md mb-2 leading-snug;
  }

  ul,
  ol {
    list-style: revert;
    padding-left: 1em;
  }

  a {
    @apply underline underline-offset-1 duration-200 ease-out hover:opacity-60;
  }
}
