@tailwind base;
@tailwind components;
@tailwind utilities;

@import "themes";
@import "fonts";
@import "headings";
@import "typographies";
@import "transitions";
@import "spacings";
@import "component-themes";
@import "buttons";
@import "gradients";

$minFont: 16;
$maxFont: 22;
$from: 1860;
$to: 3000;

html {
  @media screen and (min-width:#{$from}px) {
    font-size: calc(
      #{$minFont}px + (#{$maxFont} - #{$minFont}) *
        ((100vw - #{$from}px) / (#{$to} - #{$from}))
    );
  }
}

html,
body,
#__next {
  @apply h-full overscroll-none;
}

body {
  @apply font-sans leading-normal antialiased text-white bg-th-bg text-th-body;
}
